/*EDITOR*/
.form-editor{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    overflow: hidden !important;
}
.form-editor *{
    overflow: hidden !important;
}

.ql-container{
    border: 0px solid transparent !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;

}
.ql-toolbar{
    border: 0px solid transparent !important;
    display: flex;
    justify-content: space-evenly;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
    height: calc(100svh - var(--nav-size));
    z-index: 1000;
    position: absolute;
    top:0;
    right: 0;
    background-color: white;
    border-left: 1px solid gray !important;
}


.ql-editor{
    width: 100%;
    max-width: 100ch !important;
    align-self: center !important;
    overflow-y: scroll !important;

}
.ql-formats{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
    margin: 0px !important;
}
.editor-form svg{
    transform: scale(1.4);
    overflow: hidden !important;
}

.form-editor p {
border-bottom: 0.5px dashed rgb(185, 185, 185);
}

#info.saved{
    color: green;
    font-size: bold;
}


.form-editor-cover .ch-work-cover{
    --cover-size: clamp(150px, 80vmin, 300px);
    margin: 16px;
}

.editor-option-main{
    padding: 18px;
    
}