@font-face {
  font-family: adys;
  src: url(/_/theme/fonts/ADYS.ttf) format('truetype')
}

/*FONTS*/


.Adys {
    font-family: "Adys";
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--cover-size) / 8);
    line-height: calc(var(--cover-size) / 8);
  }
  
  .Alumni {
  font-family: "Alumni Sans Pinstripe";
  font-weight: 500;
  font-style: normal;
  font-size: calc(var(--cover-size) / 6);
  line-height: calc(var(--cover-size) / 6);
  }
  
  .Tektur {
  font-family: "Tektur";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  
  .Rampat {
  font-family: "Rampart One";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  letter-spacing : -4px;
  line-height: calc(var(--cover-size) / 10);
  }
  
  .Ruslan {
  font-family: "Ruslan Display";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 11);
  line-height: calc(var(--cover-size) / 11);
  }
  
  .ProstoOne {
  font-family: "Prosto One";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  
  .Pattaya {
  font-family: "Pattaya";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  
  .DaysOne {
  font-family: "Days One";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  
  .Sofia {
  font-family: "Sofia Sans";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: calc(var(--cover-size) / 8);
  line-height: calc(var(--cover-size) / 8);
  }
  
  .RubikMoonrocks {
  font-family: "Rubik Moonrocks";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  
  }
  
  .Unbounded {
  font-family: "Unbounded";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  
  .Messiri {
  font-family: "El Messiri";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  
  .RussoOne {
  font-family: "Russo One";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  
  .Yanone {
  font-family: "Yanone Kaffeesatz";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: calc(var(--cover-size) / 8);
  line-height: calc(var(--cover-size) / 8);
  }
  
  .RubikMonoOne {
  font-family: "Rubik Mono One";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  
  .Seymour {
  font-family: "Seymour One";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 12);
  line-height: calc(var(--cover-size) / 12);
  }
  
  .Lobster {
  font-family: "Lobster";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 8);
  line-height: calc(var(--cover-size) / 8);
  }
  
  .Exo {
  font-family: "Exo 2";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  
  .Playfair {
  font-family: "Playfair Display SC";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  
  .PlayfairBold {
  font-family: "Playfair Display SC";
  font-weight: 700;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  

  
  .Noto {
  font-family: "Noto Serif";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  
  .Vollkorn {
  font-family: "Vollkorn";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  
  .Roboto {
  font-family: "Roboto Serif";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  
  .Yeseva {
  font-family: "Yeseva One";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  .Gabriela {
  font-family: "Gabriela";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  .Orelega {
  font-family: "Orelega One";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  .Cormorant {
  font-family: "Cormorant Infant";
  font-weight: 300;
  font-style: normal;
  font-size: calc(var(--cover-size) / 8);
  line-height: calc(var(--cover-size) / 8);
  }
  
  
  .CormorantBold {
  font-family: "Cormorant Infant";
  font-weight: 700;
  font-style: normal;
  font-size: calc(var(--cover-size) / 8);
  line-height: calc(var(--cover-size) / 8);
  }
  
  .GreatVibes {
  font-family: "Great Vibes";
  font-weight: 500;
  font-style: normal;
  font-size: calc(var(--cover-size) / 6);
  line-height: calc(var(--cover-size) / 6);
  }
  
  .Caveat {
  font-family: "Caveat";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: calc(var(--cover-size) / 6);
  line-height: calc(var(--cover-size) / 6);
  }
  .Pacifico {
  font-family: "Pacifico";
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 9);
  line-height: calc(var(--cover-size) / 9);
  }
  
  .SofiaSansExtraCondensed {
  font-family: "Sofia Sans Extra Condensed";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: calc(var(--cover-size) / 8);
  line-height: calc(var(--cover-size) / 8);
  }
  
  
  .SofiaSansCondensed {
  font-family: "Sofia Sans Condensed";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 8);
  line-height: calc(var(--cover-size) / 8);
  }
  
  .Comfortaa {
  font-family: "Comfortaa";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: calc(var(--cover-size) / 10);
  line-height: calc(var(--cover-size) / 10);
  }
  
  .Oswald {
  font-family: "Oswald";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: calc(var(--cover-size) / 8);
  line-height: calc(var(--cover-size) / 8);
  }