.ch-form{
    flex: 1;
    padding: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }

/*editor forms*/
.editor-option-form{
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#editor-option-main{
 flex: 1;
}
#editor-option-sidebar{
    flex: 1;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  
    max-width: fit-content;
    min-width: fit-content;
    margin-left: 1rem;
    width: fit-content;
    min-width: fit-content;
}