.ch-form{
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
}

.form-today{
    --cover-size: calc((99svh - var(--nav-size) * 4) / 3);
    margin-bottom: 1svh;
}

.form-charts{
    --cover-size: calc(100svw / 3.1);
    margin-bottom: 1svh;
}



/* Styles for screens larger than small tablets */
@media (min-width: 769px) {
    .form-today{
        --cover-size: unset;
        overflow-y: scroll;
    }
    
}

@media (max-width: 768px) and (orientation: landscape) {
    .form-today{
        --cover-size: calc((100svh - env(safe-area-inset-bottom) - var(--nav-size) * 4) / 3); 
    }
    .form-charts{
        --cover-size: calc(100svw / 6.1);
        margin-bottom: 1svh;
    }
}

