.ch-form, .ch-panel, .ch-works, .ch-filter-1{
    width: 100%;
}
.ch-form-padding-big{
    padding: 24px;
}
.ch-form-overscroll{
    overflow-y: scroll;
    overflow-x: hidden;
}
.ch-anvil-toolbar-1{
    width: 100%;
    height: var(--nav-size) !important;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    display: flex;
    gap: 4px;
}
.ch-anvil-toolbar-center{
    justify-content: center;
}


.ch-form{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

/* ch-panel-TOOLS-PANELS*/
.ch-panel-0-3{
    height: calc((100svh - var(--nav-size)) / 3);
    display: flex;
    flex-direction: column;

    
}
.ch-panel-3-1{
    height: calc(100svh - var(--nav-size) * 3);
    display: flex;
    flex-direction: column;

}

.ch-panel-0-1{
    height: calc(100svh - var(--nav-size) * 1);
    display: flex;
    flex-direction: column;

}
.ch-panel-1-1{
    height: calc(100svh - var(--nav-size) * 2);
    display: flex;
    flex-direction: column;

}

.ch-label-1{
    height: var(--nav-size);
    font-family: Adys;
    font-size: calc(var(--nav-size) / 2);
}

.ch-label-half{
    height: calc(var(--nav-size) / 2);
    font-family: Adys;
    font-size: calc(var(--nav-size) / 3);
}


.ch-works{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}


.ch-works-h-auto{
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    --cover-size: calc((99svh - var(--nav-size) * 4) / 3);
}

.ch-filters-toolbar{
    display: flex;
    flex-direction: column;
}


.ch-filter{
    display: flex;
    width: 100%;
    height: var(--nav-size);
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}
.filter-item{
    display: flex;
    align-items: center;
    height: calc(var(--nav-size) / 2);
    font-size: calc(var(--nav-size) / 2);
    width: fit-content;
    box-shadow: 0px 0px 5px gray;
    border-radius: calc(var(--nav-size) / 2);
    padding-left: calc(var(--nav-size) / 4);
    padding-right: calc(var(--nav-size) / 4);
    gap: 4px;
}
.filter-fa{
    font-size: calc((var(--nav-size) / 2) - 4px);
}
.filter-text{
    font-size: calc(var(--nav-size) / 3);
}


.sidebar{
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    max-height: 75%;
    z-index: 1000;
    bottom: calc(var(--nav-size) + 24px);
    right: 0px;
    position: absolute;
    padding: 8px;
    font-size: 2rem;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-image: linear-gradient(gray, #ffffff) 10;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    box-shadow: -3px -3px 10px gray;
    margin-right: 1rem;
    border-radius: 8px;
  }

/*welcome form */
.form-welcome{
    justify-content: flex-start;
    padding: 1rem;
    font-size: 2rem;

}
.welcome-interface{
    height: 40svh;
    align-content: center;
}
.welcome-text{
overflow-y: scroll;
overflow-x: hidden;
height: 60svh;
}


/* Styles for screens larger than small tablets */
@media (min-width: 769px) {
    .ch-works {
        --cover-size: unset;
        flex-wrap: wrap;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .notouch .ch-form-charts{
        flex-direction: row;
    }

    .notouch .ch-form-charts .ch-panel{
        height: calc(100svh - var(--nav-size) * 1);
    }


    .notouch .ch-filters-toolbar{
        flex-direction: column;
        height: calc(100svh - var(--nav-size));
    }

    .notouch .ch-filter{
        height: fit-content;
        width: fit-content;
        flex-direction: column;
        padding: 8px;
       
    }
    
}