#navigation{
    height:var(--nav-size);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: calc(var(--nav-size) - 18px);
    margin: 0;
    padding: 0;
}


.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 0px;
}


.nav-text{
    font-size: 10px;
    color: gray;
}

#sidebar_container{
  height: 100%;
  width: fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 1rem;
  margin-bottom: 24px;
}

/*DUOTONE NAVBAR*/


.fa-sidebar-flip{
  --fa-secondary-opacity: 1;
  --fa-primary-color: rgb(169, 169, 169);
  --fa-secondary-color: rgb(169, 169, 169);
}
.active .fa-sidebar-flip{
  --fa-secondary-opacity: 1;
  --fa-primary-color: rgb(81, 81, 81);
  --fa-secondary-color: rgb(169, 169, 169);
}



  .active .fa-home {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(108, 108, 108);
  }

  .active .fa-laptop-mobile{
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(1, 170, 254);
  }
  .active .fa-books {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(254, 212, 1);
  }
  .active .fa-glasses {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(1, 170, 254);
  }
  .active .fa-bookmark {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(254, 47, 1);
  }
  .active .fa-sliders {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(1, 170, 254);
  }
  .active .fa-typewriter {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(1, 170, 254);
  }
  .active .fa-file-plus {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-address-card {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-chart-simple {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-filter {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-palette {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-user {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-circle-info {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-folder {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  
  .active .fa-keyboard {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-tags {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-hexagon-image {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-paper-plane {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }
  .active .fa-file {
    --fa-secondary-opacity: 1;
    --fa-primary-color: rgb(0, 0, 0);
    --fa-secondary-color: rgb(255, 235, 148);
  }