/*READER*/

.reader{
    width: 100% !important;
    height: 100% !important;
}

.reader{
display: flex;
}

#cheteme_reader{
    width: 100%;
    max-width: 100ch;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: contain;
    scroll-snap-type: y mandatory;
    inset: 0rem;
    margin: auto;
    padding: 0px;
  
  }
  
  .page{
    scroll-snap-align: start;
    min-height: 100%;
    width: 100%;
    inset: 0rem;
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 4px;
  }
  


#reader-sidebar-social{
    display: flex;
    flex-direction: column;
  }
#reader-sidebar-cover{
    --cover-size: clamp(150px, 300px, 80vmin);
  }

  .comments-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .comments-item{
    border-bottom: 1px dotted gray;
    font-size: 16px;
    flex: 1;
  }