.page{
  padding-left:8px  !important;
  padding-right: 0px !important;
}
h1{
    font-size: var(--h1-size);
    font-weight: bold;
    font-family: 'Adys';
    margin: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-bottom: var(--h1-size);
    margin-top: var(--h1-size);
}
h2{
    font-size: var(--h2-size);
    font-weight: bold;
    font-family: 'Adys';
    margin: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-bottom: var(--h2-size);
    margin-top: var(--h2-size);
}

p{
  font-size: var(--p-size);
  line-height:var(--p-line);
  font-family: 'Adys';
  margin: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  /*margin-inline-start: var(--p-size);
  margin-inline-end: 0px;*/
  margin-top: 8px;
}

.page p:first-of-type {
  margin-top: 0px;
}


blockquote{
  font-size: var(--p-size);
  font-weight: bold;
  line-height:var(--p-line);
  font-family: 'Adys';
  margin: unset;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: var(--p-size);
  margin-inline-end: 0px; 
}





/*reader only*/
.reader p{
    display: flex !important;
    flex-wrap: wrap !important;   
}



.reader blockquote{
    display: flex !important;
    flex-wrap: wrap !important;
    gap: var(--words-distance);
}



h1.ql-align-right, h2.ql-align-right{
  text-align: right !important;
}

.reader h1.ql-align-center, .reader h2.ql-align-center{
  text-align: center !important;
}

.reader p.ql-align-right{
  justify-content: flex-end !important;

}
.reader p.ql-align-center{
justify-content: center !important;
}

.page img{
  padding-right: 8px !important;
  max-width: 100% !important;
  max-height: 70svh !important;
}




.page span, .page p > em, .page strong{
  margin-left: 0px !important;
  margin-right: var( --words-distance) !important;
}

.page span em{
  margin-left: 0px !important;
  margin-right: 0px !important;
}


.example-text span{
  margin-left: 0px !important;
  margin-right: var( --words-distance) !important;
}


.reader p span:first-child{
  padding-left: 1rem !important;
}
 
