@font-face {
    font-family: adys;
    src: url(/_/theme/fonts/ADYS.ttf) format('truetype')
  }

h1{
    font-size: var(--h1-size);
    font-weight: bold;
}
h2{
    font-size: var(--h2-size);
    font-weight: bold;
}
p{
    font-size: var(--p-size);
}
h1, h2, p {
    font-family: 'Adys';
}