/*containers*/
.works-panel{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0;
    padding: 0;
}
.works-panel-title{
    height: var(--nav-size);
    font-size: calc(var(--nav-size) * 0.5);
    font-family: 'Adys';
    align-content: center;
}
.works-container{
    display: flex;
    padding-right: calc(var(--cover-size) / 15);
    padding-left: calc(var(--cover-size) / 30);
}
.works-container-horisontal{
    overflow-x: scroll;
    overflow-y: hidden;
}
.works-container-vertical{
    width: 100%;
    
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    flex: 1;
  
}

@media (min-width: 769px) {
    .works-container{
        flex-wrap: wrap;
    }
    
}

/*card*/
.ch-work-cover{
    overflow: hidden;
    height: calc(var(--cover-size) - var(--cover-size) / 15);
    width: calc(var(--cover-size) - var(--cover-size) / 15);
    min-height: calc(var(--cover-size) - var(--cover-size) / 15);
    min-width: calc(var(--cover-size) - var(--cover-size) / 15);
    margin: calc(var(--cover-size) / 30);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    border-radius: calc(var(--cover-size) / 30);
    box-shadow: 0px 0px calc(var(--cover-size) / 30) rgba(0, 0, 0, 0.5);
}


.ch-work-mask{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
}

.ch-work-title{
    z-index: 20;
    padding: calc(var(--cover-size) / 30);
    width: 100%;
}

.ch-work-icons{
    z-index: 20;
    padding: calc(var(--cover-size) / 30);
    display: flex;
    justify-content: flex-start;
    gap: calc(var(--cover-size) / 30);
    width: 100%;
}

.ch-work-icon{
    font-size: calc(var(--cover-size) / 10);
}