.ch-work-cover{
    overflow: hidden;
    height: calc(var(--cover-size) - var(--cover-size) / 15);
    width: calc(var(--cover-size) - var(--cover-size) / 15);
    min-height: calc(var(--cover-size) - var(--cover-size) / 15);
    min-width: calc(var(--cover-size) - var(--cover-size) / 15);
    margin: calc(var(--cover-size) / 30);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    border-radius: calc(var(--cover-size) / 30);
    box-shadow: 0px 0px calc(var(--cover-size) / 30) rgba(0, 0, 0, 0.5);
}


.ch-work-mask{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
}

.ch-work-title{
    z-index: 20;
    padding-left: calc(var(--cover-size) / 30);
    padding-right: calc(var(--cover-size) / 30);
    padding-bottom: calc(var(--cover-size) / 60);
    padding-top: calc(var(--cover-size) / 15);
    width: 100%;
}

.ch-work-icons{
    z-index: 20;
    padding: calc(var(--cover-size) / 30);
    display: flex;
    justify-content: flex-start;
    gap: calc(var(--cover-size) / 30);
    width: 100%;
}

.ch-work-icon{
    font-size: calc(var(--cover-size) / 10);
}