/*welcome form */
.form-welcome{
    justify-content: flex-start;
    padding: 1rem;
    font-size: 2rem;

}
.welcome-interface{
    height: 40svh;
    align-content: center;
}
.welcome-text{
overflow-y: scroll;
overflow-x: hidden;
height: 60svh;
}


/*GENERIC*/
.ch-form{
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: column;
}

/*TODAY*/

.form-today{
    --cover-size: calc((99svh - var(--nav-size) * 4) / 3);
    margin-bottom: 1svh;
}

/*CHARTS*/
.form-charts{
    --cover-size: calc(100svw / 3.1);
    margin-bottom: 1svh;
}

.filters-container{
    display: flex;
    width: 100%;
    height: calc(10px + var(--nav-size) / 2);
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 5px;
    gap: 4px;
}
.filter-item{
    display: flex;
    align-items: center;
    height: calc(var(--nav-size) / 2);
    font-size: calc(var(--nav-size) / 2);
    width: fit-content;
    box-shadow: 0px 0px 5px gray;
    border-radius: calc(var(--nav-size) / 2);
    padding-left: calc(var(--nav-size) / 4);
    padding-right: calc(var(--nav-size) / 4);
    gap: 4px;
}
.filter-fa{
    font-size: calc((var(--nav-size) / 2) - 4px);
}
.filter-text{
    font-size: calc(var(--nav-size) / 3);
}

/*READER*/

.reader{
    width: 100% !important;
    height: 100% !important;
}

.reader{
display: flex;
}

#cheteme_reader{
    width: 100%;
    max-width: 100ch;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior: contain;
    scroll-snap-type: y mandatory;
    inset: 0rem;
    margin: auto;
    padding: 0px;
  
  }
  
  .page{
    scroll-snap-align: start;
    min-height: 100%;
    width: 100%;
    border-top: 1px dotted gray;
    inset: 0rem;
    margin: 0px;
    padding-top: 1rem;
    outline: 1px solid red;
    outline-offset: -1px;
  }
  


#reader-sidebar-social{
    display: flex;
    flex-direction: column;
  }
#reader-sidebar-cover{
    --cover-size: clamp(150px, 300px, 80vmin);
  }

  .comments-container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .comments-item{
    border-bottom: 1px dotted gray;
    font-size: 16px;
    flex: 1;
  }

  /*AUTHORS*/
#authors-panel{
    height: calc(100svh - var(--nav-size) * 2);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    padding: 4px;
}

/*SEARCH*/
.form-search .search{
    height: var(--nav-size);
    margin-left: 4px;
    margin-right: 4px;
}

/*EDITOR*/
.form-editor{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    overflow: hidden !important;
}
.form-editor *{
    overflow: hidden !important;
}

.ql-container{
    border: 0px solid transparent !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden !important;

}
.ql-toolbar{
    border: 0px solid transparent !important;
    display: flex;
    justify-content: space-evenly;
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden !important;
    height: calc(100svh - var(--nav-size));
    z-index: 1000;
    position: absolute;
    top:0;
    right: 0;
    background-color: white;
    border-left: 1px solid gray !important;
}


.ql-editor{
    width: 100%;
    max-width: 100ch !important;
    align-self: center !important;
    overflow-y: scroll !important;

}
.ql-formats{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between !important;
    margin: 0px !important;
}
.editor-form svg{
    transform: scale(1.4);
    overflow: hidden !important;
}

.form-editor p {
border-bottom: 0.5px dashed rgb(185, 185, 185);
}

#info.saved{
    color: green;
    font-size: bold;
}


.form-editor-cover .ch-work-cover{
    --cover-size: clamp(150px, 80vmin, 300px);
    margin: 16px;
}


/*DRAFTS & Published*/
.anvil-toolbar-1line{
    display: flex;
    height: var(--nav-size);
}
.panel-t1line{
    display: flex;
    justify-content:flex-start;
    height: fit-content;
    max-height: calc(100svh - var(--nav-size) * 2);
    width: 100%;
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}


/*COMMON*/
.sidebar{
    height: fit-content;
    width: fit-content;
    max-width: 90%;
    max-height: 75%;
    z-index: 1000;
    bottom: calc(var(--nav-size) + 8px);
    right: 0px;
    position: absolute;
    padding: 8px;
    font-size: 2rem;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-image: linear-gradient(gray, #ffffff) 10;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    box-shadow: -3px -3px 10px gray;
    margin-right: 1rem;
    border-radius: 8px;
  }

.works-container-vertical{
    display: flex;
    flex: 1;
    justify-content:flex-start;
    width: 100%;
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 8px;
    overflow-y: scroll;
    overflow-x: hidden; 
}
/* Styles for screens larger than small tablets */
@media (min-width: 769px) {
    .form-today, .form-charts{
        --cover-size: unset;
        overflow-y: scroll;
    }
    
}

@media (max-width: 768px) and (orientation: landscape) {
    .form-today{
        --cover-size: calc((100svh - env(safe-area-inset-bottom) - var(--nav-size) * 4) / 3); 
    }
    .form-charts{
        --cover-size: calc(100svw / 6.1);
        margin-bottom: 1svh;
    }
}

